.addbook_container {
    width: 100%;
    min-height: 100vh;
}

.addbook_name_container {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.addbook_img_and_detail {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.addbook_cover_preview {
    width: 50%;
    display: flex;
    justify-content: center;
    height: 450px;
}

.cover_preview {
    height: 100%;
	object-fit: cover;
	aspect-ratio: 1/1.414;
}

.add_cover_submit {
    background: var(--main-color);
}

.add_cover_submit:hover {
    background-color: rgb(61, 61, 61);
}

.addbook_input_field {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

.fix-width-field {
    width: 25rem;
    margin: 15px;
}

.add_cover_form {
    width: 100%;
    display: flex;
    align-items: center;
}

.addbook_detail {
    display: flex;
    align-items: center;
    width: 100%;
}

.add_synopsis {
    width: 100%;
    margin: 30px 0;
}

.Bottom_Submit_warp {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 640px) {
    .addbook_img_and_detail {
        display: flex;
        flex-direction: column;
        justify-content: center;                
        align-items: center;
    }
}