.admin-button {
    width: 250px;
    height: 45px;
    background-color: rgba(0, 0, 0, .15);
    margin-left: 30px;
}

.admin-button:hover {
    background-color: rgba(0, 0, 0, .50);
}

.admin-icon {
    margin-right: 10px;
}