.bookpage_container {
    width: 60%;
    min-height: 100vh;
    margin: 0 auto;
}

.bookpage_bookname_container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.bookpage_bookname_container h1 {
    width: 100%;
    text-align: center;
    word-wrap: break-word;
}

.bookpage_cover_detail {
    display: flex;
}

.bookpage_book_cover {
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.bookpage_book_cover img {
    height: 100%;
	object-fit: cover;
	aspect-ratio: 1/1.414;
}

.bookpage_book_detail {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    color: var(--gray);
}

.author_publisher_category {
    width: 100%;
    height: 30%;
}

.author_publisher_category p{
    margin: 0 0 20px 0;
}

.author_publisher_category p a{
    color: var(--main-color);
}

.try_buy_container {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.try_button {
    background: var(--light);
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 30px;
    height: 50%;
}

.try_button:hover {
    background-color: var(--main-color);
    color: var(--light);
}

.buy_button {
    background: var(--main-color);
    border-radius: 30px;
    height: 50%;
    width: 55%;
}

.buy_button:hover {
    background-color: var(--gray);
}

.bookpage_rating_zone {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookpage_rating_zone h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff6d75;
    padding: 10px;
}

.bookpage_favorite_zone {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--main-color);
    min-height: 15%;
}

.bookpage_release_date {
    min-height: 25%;
    display: flex;
    justify-content: space-between;
}

.synopsis {
    margin: 50px 0 50px 0;
}

.comment-section {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment-profile-user {
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap:1em;
}

.comment-show-username {
    /* padding-left: 10px; */
    font-size: 18px;
}

.blur-if-not-login {
    position: relative;
}

.blur-effect {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.blur-effect h3 {
    color: white;
}

.give-rate-zone {
    border: 1.5px solid rgb(163, 163, 163);
    background-color: #fdfdfd;
    border-radius: 5px;
    height: 75px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.comment-submit {
    background: var(--main-color);
    border-radius: 40px;
    width: 150px;
    height: 50px;
}

.comment-submit:hover {
    background: rgb(61, 61, 61);
}

.all-comment {
    margin-top: 20px;
}

.all-comment-header {
    margin-bottom: 30px;
}