.book_bookname_Container{
    max-width: 50%;
    /* border: solid 1px red; */
    padding: 5rem 0;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book_bookname_PageAdjust{
    /* border: solid 1px blue; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.book_bookname_Bookname{
    /* border: 1px solid red; */
    width: 100%;
    text-align: center;
    margin: 0.5rem 0;
}

.book_book_ItemAndDetail{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    padding: 0 4rem;
    margin: 1.5rem 0;
}

.book_Img{
    height: 500px;
    box-shadow: 0 0 6px var(--font-color-gray);
}

#Detail{
    /* border: 1px solid blue; */
    width: 100%;
    padding: 0 1rem;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
}

#data_author_publisher_category {
    /* border: 1px solid red; */
    line-height: 2.5em;
    text-decoration: none;
}

    #data_author_publisher_category p {
        color: var(--font-color-gray);
        font-weight: bold;
    }
    #data_author_publisher_category a {
        text-decoration: none;
        font-weight: lighter;
        color: var(--main-color);
    }

#TryAndBuyDiv{
    /* border: 1px solid red; */
    margin: 1.5em 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#Try_Button{
    background-color: azure;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 30px;
    font-weight: 600;
    width: 120px;
    height: 50px;
    padding: 0 5px;
    margin: 0 10px;
}

.Buy_Button{
    background-color: var(--main-color);
    font-weight: 600;
    border-radius: 30px;
    width: 200px;
    height: 50px;
}
.Submit_Button{
    background-color: var(--main-color);
    font-weight: 600;
    border-radius: 30px;
    /* width: 200px; */
    height: 50px;
}
.Submit_Button:hover{
    background-color: rgb(61, 61, 61);
}

#RatingZone{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    #RatingZone h5{
        color: #ff3d47;
        margin: 0 0.5rem;
    }

#release_date {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    /* border: 1px solid red; */
}
    #release_date p {
        color: var(--font-color-gray);
    }

.synopsis {
    /* border: 1px solid red; */
    margin-top: 25px;
    width: 100%;
    max-width: 60vw;
}
    .synopsis p {
        color: var(--font-color-gray);
        word-wrap: break-word;
    }


.MultilineTextFeild{
    width: 100%;
}