.delete_book{
    padding-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75em;
    z-index: 11;
    min-width: 600px;
    background-color: #fefefe;
    border-radius: 5px;
    border: 1px solid darkgrey;
    box-shadow: rgba(0, 0, 0, 0.12) 2px 2px 20px;
    align-items: center;
    margin: .3rem;
}
.H4displayflex{
    display: flex;
    flex-direction: row;
}
.delete_book:hover {
    border: 1px solid #00bf6c;
    box-shadow: 1px 1px 10px 1px darkgray;
}
.delete_book .img_zone{
    display: flex;
    justify-content: center;
    margin-right: 25px;
}
.delete_book .img_zone img{
    height: calc(106.08px * 1.414);
    aspect-ratio: 1/1.414;
    overflow-clip-margin: 5px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 2px 2px 20px;
    object-fit: cover;
}
.delete_book .detailzone{
    display: flex;
    flex-direction: column;
}
.img-and-detail {
    display: flex;
    max-width: 500px;
}
.Trashzone{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.Trashzone .DelButton{
    background-color: red;
}
.Trashzone .EditButton{
    background-color: var(--main-color);
}
.Trashzone Button:hover {
    background-color: rgb(61, 61, 61);
}
.detailbook h4{
    font-weight:200 ;
    color: rgb(102, 102, 102);
}