:root {
  --main-bg-color: linear-gradient(to bottom, #00af70, #37c13d);
  --main-color: #00bf6c;
  --font-color-menu: #5a5a5a;
  --font-color: #1d6548;
  --font-color-gray: #5a5a5a;
  --link-color: #00bf6c;
}

html,
body {
    font-family: roboto;
    line-height: 1.6;
    scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

a:link, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}