.CenterChild{
    display: flex;
    justify-content: center;
}
.ItemsBox{
    margin: 5em 1em;
    width: 75vw;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
}
.recentlyadded{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    max-height: calc(420px + 0.5em);
    overflow: hidden;
    justify-content: center;
    width: 100%;
    /* border  : 1px solid green; */
    /* display: grid;
    width: 100%; */
}
.NewestText{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 2px solid gray;
    padding: 0.5em;
    margin-bottom: 0.5em;
}
.NewestText h2{
    /* border-bottom: 2px solid #8e918f; */
    margin-bottom: 0.5em;
    font-weight: 300;
   
}
.Index_Button {
    /* background-color: var(--main-color); */
    color: var(--main-color);
    font-size: 600;
}
.NewItem_Box{
    margin-bottom: 1em;
    width: 100%;
    height: auto;
}
.AddWidthToShowAll{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid gray;
    padding: 0.5em;
    margin-bottom: 0.5em;
}
.CollapseWidth{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* background-color: red; */
}