.CenterChild{
    display: flex;
    justify-content: center;
}
.ItemsBox{
    margin: 2em 0.5em;
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}