.Shelf-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}
.library-item-wrap {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 6px var(--font-color-gray);
    border-radius: 5px;
}
.library-item-wrap:hover{
    box-shadow: 0 0 10px var(--main-color);
    transition-duration: 4s;
    transform: translate(0,-10.25em);
}

.library-book-image {
    height: 300px;
}
.name-and-author {
    padding: 0.5em;
}
