#GotoMiddleOfTheScreen{
    z-index: 11;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* margin: auto auto; */
    width: 30vw;
    background-color: white;
    height: 80vh;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 2px 2px 20px;
    display: flex;
    flex-direction: column;
}
#CloseLogin{
    margin-left: 90%;
    margin-top: 2%;
}
#HeaderLoginZone{
    /* right:50%;
    transform: translateX(50%); */
    /* display: flex; */
    /* align-items:center; */
    justify-content: center;
    height: fit-content;
}
#HeadLogin{
    margin-left: 40%;
    right:50%;  
}
#loginBar{
    height: 10%;
    left:50%;
    /* transform: translateX(-50%); */
    margin-top: 20%;
    margin-bottom: 10px;
}
#UsernameZone{
    /* margin-left: 40%; */
    /* margin-left:50%; */
    /* transform:translateX(50%); */
    width: fit-content;
    margin-left: 25%;
    margin-bottom: 3%;
}

.TransparentBg .GotoMiddleOfTheScreen .loginBar .UsernameZone .textfield{
    justify-content: center;
}
#PasswordZone{
    margin-top: 5%;
    margin-left: 25%;
}

#TransparentBg{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);

}