.navbar-container {
  width: 100%;
  position: fixed;
  z-index: 999;
}

.main-navbar {
  background: var(--main-bg-color);
  height: 60px;
  position: relative;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}

#nav-left {
  float: left;
  height: 100%;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

#nav-middle {
  position: absolute;
  left: 0;
  right: 0;
  width: max-content;
  max-width: 150px;
  margin: auto;
  /* border: 1px solid red; */
}

.logo {
  position: relative;
  width: 60px;
  display: inline-block;
  margin: auto;
}
#logo {
  width: 100%;
  vertical-align: center;
  border-style: none;
}

#nav-right {
  float: right;
  display: flex;
  height: 100%;
  align-items: center;
  /* border: 1px solid red; */
}

.favoriteButton-navbar {
  height: 32px;
  background-color: rgba(0, 0, 0, .15);
}

.favoriteButton-navbar:hover {
  background-color: rgba(0, 0, 0, .50);
}

.shoppingCart-navbar {
  margin-left: 10px;
  height: 32px;
  background-color: rgba(0, 0, 0, .15);
}

.shoppingCart-navbar:hover {
  background-color: rgba(0, 0, 0, .50);
}

#nav-right form {
  margin-left: 10px;
  display: flex;
  position: relative;
  align-items: center;
}

.searchBar-navbar {
  height: 32px;
  padding-left: 15%;
  border: none;
  border-radius: 5px;
  width: 240px;
  font-size: 16px;
}

.searchBar-navbar:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.12) 2px 2px 20px;
}

.searchBar-navbar:focus::placeholder {
  color: var(--main-color);
}

.searchIcon-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10px;
}