#setPasswordElementPosition{
    display: flex;
    align-items: center;
}
.RegisterOpenButton{
    width: 100%;
    color: black;
    background-color: rgba(0, 0, 0, .12);
}
.RegisterOpenButton:hover{
    background-color: rgba(0, 0, 0, .24);
}
.GoDoit{
    /* width: 100%; */
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgba(0, 191, 108,1);
}
.GoDoit:hover{ 
    background-color: rgb(61, 61, 61);
}

