#setPasswordElementPosition{
    display: flex;
    align-items: center;
}
.RegisterOpenButton{
    color: black;
    background-color: rgba(0, 0, 0, .12);
}
.RegisterOpenButton:hover{
    background-color: rgba(0, 0, 0, .24);
}
