.search-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.heading-search-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--gray);
}
.search-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.Searchline {
    width: 2px;
    height: 85%;
    background-color: gray;
    margin: 0 1em;
}

.search-page-result {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}