:root {
    --main-bg-color: linear-gradient(to bottom, #00af70, #37c13d);
    --main-color: #00bf6c;
    --font-color-menu: #5a5a5a;
    --font-color: #1d6548;
    --font-color-gray: #5a5a5a;
    --link-color: #00bf6c;
}

.BG{
    height: 58px;
    width: 100%;
    background: var(--main-bg-color);
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    align-items: center;
}
img{
    height: 53px;
}


